@import "~reset-css/sass/_reset.scss";
@import "~sheng/sheng.scss";
@import url('https://fonts.googleapis.com/css?family=Catamaran|PT+Sans:400,700&display=swap');

$heading-font: 'PT Sans', sans-serif;
$body-font: Catamaran, sans-serif;

$wattle-leaf: #00B159;
$wattle-leaf-headings: #008542;
$wattle-flower: #FFC518;
$wattle-flower-headings: #946F00;
$desert-sand: #F36F3A;
$desert-sand-headings: #D4450C;
$red-centre: #E01D43;
$lorikeet-blue: #5B57A5;

main {
    @include sheng(
        $heading-font-family: $heading-font,
        $body-font-family: $body-font,
    );
    max-width: 33em;
    margin: 0 auto;
    padding: 0 20px;
    color: hsla(0, 0, 0, 0.8);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: hsla(0, 0, 0, 0.9);
    }
}

header {
    background-color: $wattle-leaf;
}

nav {
    font-family: $heading-font;
    font-weight: bold;
    font-size: 24px;

    display: grid;
    grid-template: "logo nav dates" auto / max-content auto max-content;

    
    img {
        grid-area: logo;
        height: 73px;
    }
    
    ul {
        grid-area: nav;
        overflow-x: auto;
        white-space: nowrap;
    }
    
    li {
        display: inline-block;
        margin: 20px;
        a {
            color: inherit;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
        &:nth-child(1) {
            color: $wattle-leaf-headings;
        }
        &:nth-child(2) {
            color: $wattle-flower-headings;
        }
        &:nth-child(3) {
            color: $desert-sand-headings;
        }
        &:nth-child(4) {
            color: $red-centre;
        }
        &:nth-child(5) {
            color: $lorikeet-blue;
        }
    }
    .dates {
        grid-area: dates;
        color: $wattle-leaf-headings;
        margin: 10px 20px;
        text-align: right;
        .location {
            font-weight: 400;
        }
    }

    @media only screen and (max-width: 900px) {
        grid-template: "logo dates" auto
                        "nav nav" auto / auto auto;
        font-size: 20px;
        img {
            height: 58px;
        }
    }
    @media only screen and (max-width: 450px) {
        .dates {
            font-size: 12px;
        }
    }
    @media only screen and (max-width: 390px) {
        img {
            height: 45px;
        }
    }
}