<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% asset 'build/index.css' %}" />
        <title>{% block title %}PyCon AU 2020{% endblock %}</title>
    </head>
    <body>
        {% block nav %}
        <nav class="{{ nav_class }}">
            <img src="{% asset 'Logo_Standard.svg' %}" />
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/">Test 1</a></li>
                <li><a href="/">Test 2y</a></li>
            </ul>
            <div class="dates">
                7&ndash;11 August 2020
                <div class="location">Adelaide Convention Centre</div>
            </div>
        </nav>
        {% endblock %}
        <main>
            {% block main %}
                <h1>This is some example content!</h1>
                <p>If you can see this, it probably means our static site generator is broken somehow.</p>
            {% endblock %}
        </main>
    </body>
    <script type='text/javascript'>
        if (window.location.hash === "#debug") document.body.classList.add('debug')
    </script>
</html>