{%- macro news(post) %}
<h1>{{ post.title }}</h1>
<small>Published {{ post.published.strftime("%d %B, %Y") }}</small>
{% if post.ytid %}
<iframe
  width="560"
  height="315"
  src="https://www.youtube-nocookie.com/embed/{{ post.ytid }}"
  frameborder="0"
  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen
  class="ytembed"
></iframe>
{% endif %} {{ post.content }} {%- endmacro %} {%- macro profile(person,
bio=False) %}
<div class="profile">
  {% if person.has_pic %}
  <img src="{% asset('people/{}.jpg'.format(person.pk)) %}" />
  {% endif %}
  <div class="details">
    <b>{{ person.title or "" }} {{ person.name }}</b>
    <small>
      {{ person.pronouns or "" }} {% if person.pronouns and person.twitter
      %}&bull;{% endif %} {% if person.twitter %}
      <a href="https://twitter.com/{{ person.twitter }}">
        @{{ person.twitter }}
      </a>
      {% endif %}
    </small>
    {% if person.role %}
    <span>{{ person.role }}</span>
    {% endif %} {% if bio %} {{ person.bio }} {% endif %}
  </div>
</div>
{%- endmacro %}
