{%- set nav_class = 'home' -%} {% extends '_base.html' %} {% import
'_macros.html' as m %} {% block nav %}
<header id="header">
  <img
    src="{% asset('Logo_Reversed_PyConline.svg') %}"
    alt="PyCon AU"
    role="heading"
    aria-level="1"
  />
  <div class="rotated">
    <article>
      <h1>That's a wrap! PyConline AU 2020 is over!</h1>
      <a href="/attend/">I want more next year!</a>
    </article>
    {{ super() }}
  </div>
</header>
{% endblock %} {% block main %} {{ m.news(latest_news) }} {% endblock %}
