{% extends '_base.html' %}
{% import '_macros.html' as m %}

{% block main %}
<h1>{{ session.title }}</h1>
<div class="time-bar">
    {{ session.start.strftime('%a %B %d, %I:%M %p')}}&ndash;{{ session.end.strftime('%I:%M %p') }}
    &bull;
    <a href="/program/{{ session.start.strftime('%a').lower() }}/">Back to program</a>
</div>
<div class="backstage-only">
    <b>Backstage tools:</b>
    <a href="https://nextdayvideo.com/tools/countdown-widget/?t={{ session.end.strftime('%Y-%m-%dT%H:%M:%S') }}+09:30&r=0:5:0-1/0:2:0-1/0:1:0-1/0:10:0-1/">Countdown timer link</a>
    <code>https://nextdayvideo.com/tools/countdown-widget/?t={{ session.end.strftime('%Y-%m-%dT%H:%M:%S') }}+09:30&r=0:5:0-1/0:2:0-1/0:1:0-1/0:10:0-1/</code>
</div>

{{ session.abstract }}

{{ session.description }}

{% for person in session.speakers %}
{{ m.profile(person, bio=True) }}
{% endfor %}
{% endblock %}