{% extends '_base.html' %}
{% import '_sponsor_macros.html' as m %}
{% block main %}
<h1>Sponsor PyConline AU</h1>
<p>To find out more about the sponsorship opportunities available, <a href="/assets/prospectus.pdf">download our sponsorship prospectus</a>. Once you've picked a sponsorship opportunity, <a href="mailto:sponsorship@pycon.org.au">get in touch via sponsorship@pycon.org.au</a>.</p>

<h1>Platinum Sponsor{% if platinum | length != 1 %}s{% endif %}</h1>
{% for s in platinum %}
{{m.sponsor(s)}}
{% endfor %}
<hr>

<h1>Digital Sponsor{% if digital | length != 1 %}s{% endif %}</h1>
{% for s in digital %}
{{m.sponsor(s)}}
{% endfor %}

<h1>Contributors{% if contributors | length != 1 %}s{% endif %}</h1>
<p>We thank everyone who <a href="/attend/">purchased a Contributor ticket</a>. They are directly helping fund our financial assistance efforts for future events: </p>
{% for s in contributors %}
<li>{{s.title}}
{% endfor %}

<h1>Auspice</h1>
{% for s in auspice %}
{{m.sponsor(s)}}
{% endfor %}

{% endblock %}
