{% extends '_base.html' %} {% import '_sponsor_macros.html' as m %} {% block
main %}
<h1>PyConline AU sponsors</h1>

<p>ℹ️ Be sure to check out our <a href="/sponsor/workshops">Sponsor Workshops</a>.</p>

<h1>Platinum Sponsor{% if platinum | length != 1 %}s{% endif %}</h1>
{% for s in platinum %} {{m.sponsor(s)}} {% endfor %}
<hr />

<h1>Digital Sponsor{% if digital | length != 1 %}s{% endif %}</h1>
{% for s in digital %} {{m.sponsor(s)}} {% endfor %}

<hr />

<h1>Contributor{% if contributors | length != 1 %}s{% endif %}</h1>
<p>
  We thank everyone who <a href="/attend/">purchased a Contributor ticket</a>.
  They are directly helping fund our financial assistance efforts for future
  events:
</p>
{% for s in contributors %}
<li>
  {{s.title}} {% endfor %}

  <hr />

<table>
{% for s in specialsponsor %} {{m.special(s)}} {% endfor %}
</table>

 <h1>Auspice</h1>
  {% for s in auspice %} {{m.sponsor(s)}} {% endfor %} {% endblock %}
</li>
