{% extends '_base.html' %}
{% import '_macros.html' as m %}
{% block main %}
<h1 style="color: {{track.color}}">{{track.name}} {{track.emoji}}</h1>
{{track.summary}}
<br>
{% if track.website %}<br>Learn more about the {{track.name}} track at <a href="{{track.website}}">{{track.website}}</a><br>{% endif %}
<br>
{% if track.name == "Education" %}
Are you a high school student who has used Python in a project or class assignment? Are you hacking on something cool in your spare time? We want to hear about it!
<br>
<br>
<a href="https://forms.gle/F6JhtbFoZhVBzvz16" class='btn btn-chonk'>Submit a talk to the Student Showcase</a></p>
{% endif %}
{{track.content}}
<hr>

Talks in this track:
{% for session in sessions %}
    {% if track.name not in session.title and track.altname not in session.title %}
    <li><a href="{% url "session", session %}">{{session.title}}</a> by {% for speaker in session.speakers %}{{ speaker.name }}{% if not loop.last %}, {% endif %}{% endfor %}</li>
    {% endif %}
{% endfor %}

{% if track.organisers %}
<hr>
<h2>Organisers</h2>
{% for person in track.organisers %}
{{ m.profile(person) }}
{% endfor %}
{% endif %}

{% if track.sponsor %}
<hr>
<p align="center">
The {{track.name}} track is proudly sponsored by <a href="{{track.sponsor.url}}">{{track.sponsor.title}}.
<br>
<img src='{% asset "sponsor-logos/" + track.sponsor.logo %}' class="sponsorlogo" alt='{{track.sponsor.title}}'></a></p>
{% endif %}

{% endblock %}
